:root {
  --c1: #f9a826;
  --white: #f8f8f8;
  --black: #051014;
  --rich-black: #2f2e41;
  --grey: #e6e6e6;
  --dark-blue: #1d3152;
  --light-blue: #2254c7;
  --soft-blue: #5c97bf;
  --whitesmoke: #f1edee;
  --gradient: radial-gradient(
      at 0% 0%,
      hsla(204, 48%, 45%, 0.64) 0px,
      transparent 50%
    ),
    radial-gradient(at 100% 5%, hsla(217, 91%, 31%, 0.74) 0px, transparent 50%),
    radial-gradient(at 82% 99%, hsla(213, 100%, 50%, 0.41) 0px, transparent 50%);
  --padding-inline: min(5vw, 5rem);
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
  font-family: "Lato", sans-serif;
  font-weight: normal;
}
html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
  background-color: var(--grey);
}

a {
  cursor: pointer;
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}
img {
  width: 100%;
  height: auto;
  object-fit: contain;
}
button {
  border: transparent;
  border-radius: 0.5rem;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100dvh;
  padding-inline: var(--padding-inline);
}

@media screen and (min-width: 991px) {
  main {
    padding-inline: var(--padding-inline);
  }
}

section {
  min-height: max-content;
  padding-block: 7rem;
}
