header {
  padding: 0.5rem var(--padding-inline);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10000;
  transition: all 300ms ease-in-out;
}

.logo {
  width: calc(5rem + 5vw);
  padding-block: 10px;
  z-index: 1000;
}

nav {
  display: flex;
  position: absolute;
  left: max(20vw, 20rem);
}

.colored-nav {
  background-color: var(--white);
  background-size: 300% 300%;
  /* background-image: var(--gradient); */
}

.nav-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #e6e6e6;
  background-size: 300% 300%;
  background-image: linear-gradient(309deg, #e6e6e6, #f3f3f3);
  transform: translateY(-150%);
  transition: transform 500ms ease-in-out;
}

.nav-links[data-visible="true"] {
  transform: translateY(0%);
}

.nav-link > a {
  font-size: 4vh;
  text-transform: uppercase;
  color: var(--rich-black);
  line-height: 1.3;
  font-weight: 800;
  display: inline-block;
  position: relative;
  transition: all 250ms linear;
}

.nav-link a:hover {
  text-decoration: none;
  color: var(--c1);
}

.nav-link a:hover:after {
  width: 100%;
}

/* Mobile nav toggle */
.nav-toggler {
  padding: 0;
  aspect-ratio: 1;
  z-index: 1000;
  background-color: transparent;
  overflow: hidden;
}

.nav-toggler > span {
  display: block;
  width: 35px;
  height: 5px;
  margin-block: 5px;
  background-color: var(--c1);
  border-radius: 1rem;
  transform-origin: center center;
  transition: all 300ms ease-out;
}

.nav-toggler[aria-expanded="true"] > span:nth-child(1) {
  transform: rotate(-315deg);
  top: 10px;
}

.nav-toggler[aria-expanded="true"] > span:nth-child(2) {
  transform: translate(-100%);
}

.nav-toggler[aria-expanded="true"] > span:nth-child(3) {
  transform: rotate(315deg);
  bottom: 10px;
}

/* Desktop version */
@media (width>991px) {
  .nav-toggler {
    display: none;
  }

  header {
    width: 100%;
    height: 80px;
    inset: unset;
  }

  .nav-links {
    position: static;
    padding-top: 0;
    flex-direction: row;
    transform: none;
    background: transparent;
  }

  .nav-link > a {
    font-size: 1rem;
    -webkit-text-stroke: unset;
    color: var(--rich-black);
  }
}

.active {
  color: var(--c1) !important;
}

.active::after {
  width: 100% !important;
}
