.top-shape {
  position: absolute;
  width: calc(2vw + 4rem);
  aspect-ratio: 1;
  background-color: #f9a826;
  top: 1%;
  right: 4%;
}
.top-shape::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(8vw + 1.7rem);
  aspect-ratio: 1;
  border: 5px solid black;
  left: 50%;
  bottom: 65%;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 6fr)); */
  /* gap: 0rem; */
  align-items: center;
  justify-content: center;
}
.hero-image {
  max-width: 40%;
}
h1 {
  font-size: calc(2vw + 3rem);
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 2rem;
}
h1 strong {
  font-weight: 900;
  font-style: italic;
}
.slogan {
  max-width: 57ch;
  text-align: justify;
  line-height: 1.5;
}
.services h2 {
  font-size: calc(1.5vw + 2rem);
  text-align: center;
}
.services h4 {
  font-size: 24px;
  text-align: center;
}

hr {
  color: #3f3d56;
  width: 656px;
  height: 2px;
  margin-top: 30px;
  margin-bottom: 90px;
}

.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(25vw - 100px), 1fr));
  gap: 2rem;
}

.card {
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 27px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-img {
  max-width: calc(15vw + 3rem);
  height: auto;
  display: flex;
  max-height: 200px;
  margin-bottom: 2rem;
  margin-inline: auto;
  padding: 1rem;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0px 6px 6px 0px #f9a826;
}

.card:hover {
  h3 {
    color: #f9a826;
  }
}

.card-details h3 {
  font-size: calc(1vw + 1.1rem);
  font-weight: bold;
  margin-bottom: 1rem;
}
.card-details p {
  font-size: 0.8rem;
  text-align: start;
  line-height: 1.3;
  max-width: calc(100% - 10ch);
  margin: auto;
}
/* <!-- ----------------------------------------------------------------------------------- --> */

.container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  align-items: center;
  justify-content: space-around;
  padding-block: 3rem;
  background-color: #f9a826;
  position: relative;
  overflow: hidden;
}
@media (max-width: 1100px) {
  .card-container {
    grid-template-rows: auto auto auto auto; /* 4 rows for top cards */
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .hero-image {
    max-width: 80%;
  }
  .card-container {
    grid-template-columns: unset;
  }
  .top-shape {
    display: none;
  }
}
.bottom-bg {
  background: linear-gradient(170deg, #f9a826 70%, #e09722 45%);
}

.walk-img {
  width: 35%;
}
.m--5 {
  margin-inline: max(-5vw, -5rem);
}
.walk {
  font-size: calc(1.7vw + 1.5rem);
  color: var(--white);
  font-weight: 300;
  text-align: center;
  line-height: 1.4;
}
.walk strong {
  font-weight: 900;
}


/* ------------------------------------------------------------------------------------------------- */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #ffffff;
  font-family: "Lato", sans-serif;
}

.contact-info,
.connect-form {
  flex: 1;
}

.contact-info h3 {
  margin-bottom: 10px;
}

.contact-info p {
  margin-bottom: 5px;
}

.contact-info p span.icon {
  margin-right: 5px;
}

.connect-form h2 {
  margin-bottom: 10px;
}

.connect-form label {
  display: block;
  margin-bottom: 5px;
}

.connect-form input[type="text"],
.connect-form input[type="email"] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

.connect-form button[type="submit"] {
  background-color: #f9a826;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

/* -------------------------------------------------------------------------- */
.metrics-container {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
  width: 850px;
  margin-left: 150px;
}

.metrics-container p {
  font-family: "Lato", sans-serif;
  margin: 0 10px;
  border-left: 5px solid #f9a826;
  padding-left: 10px;
}

.metrics-container p strong {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
