.top-shape {
  position: absolute;
  width: calc(4vw + 4rem);
  aspect-ratio: 1;
  background-color: #f9a826;
  top: 1%;
  right: 4%;
}
.top-shape::after {
  content: "";
  display: block;
  position: absolute;
  width: calc(12vw + 1.7rem);
  aspect-ratio: 1;
  border: 5px solid black;
  left: 50%;
  bottom: 50%;
}

.hero {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  /* grid-template-columns: repeat(auto-fit, minmax(300px, 6fr)); */
  /* gap: 0rem; */
  align-items: center;
  justify-content: center;
}
.hero-image {
  max-width: 52%;
}
h1 {
  font-size: calc(2vw + 2.3rem);
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 2rem;
}
h1 strong {
  color: #3f3d56;
  font-weight: 900;
  font-style: italic;
}

.custom-shape-divider-bottom-1718051799 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1718051799 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-bottom-1718051799 .shape-fill {
  fill: #f3f3f3;
}
.custom-shape-divider-bottom-1718307965 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1718307965 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 121px;
}

.custom-shape-divider-bottom-1718307965 .shape-fill {
  fill: #ffffff;
}

.services {
  background-color: #f3f3f3;
}

.slogan {
  max-width: 57ch;
  text-align: justify;
  line-height: 1.5;
}
.section-title {
  font-size: calc(1.5vw + 1.5rem);
  text-align: center;
  font-weight: 900;
}
.section-subtitle {
  --space-top: 1rem;
  font-size: calc(0.7vw + 1rem);
  text-align: center;
  font-weight: 400;
  margin-top: var(--space-top);
}
.section-text {
  --space-top: 1rem;
  font-size: calc(0.5vw + 0.5rem);
  margin-top: var(--space-top);
  margin-inline: auto;
  text-align: center;
  font-weight: 300;
}
.tech .section-text {
  max-width: 115ch;
}

.laptop {
  max-width: max(15rem, 65%);
  margin: auto;
  padding-top: 3rem;
}
.line {
  position: relative;
  color: #3f3d56;
  width: 25%;
  height: 2rem;
  border-top: 1.5px solid black;
  margin-top: 30px;
  margin-bottom: 1rem;
  margin-inline: auto;
  overflow: visible;
}
#about .line {
  width: auto;
}
.underline {
  border-top: none;
  border-bottom: 1.5px solid black;
}

.line::before {
  content: "";
  display: block;
  position: absolute;
  width: 1.4rem;
  aspect-ratio: 1;
  border: 1.5px solid black;
  right: 2%;
  bottom: 100%;
  z-index: 100;
}
.underline::before {
  bottom: -1px;
}

.line::after {
  content: "";
  position: absolute;
  width: 1.1rem;
  aspect-ratio: 1;
  background-color: #f9a826;
  top: -25%;
  right: 4%;
}
.underline::after {
  top: unset;
  bottom: -25%;
  right: 4%;
}

.right.line::before {
  right: unset;
  left: 2%;
}
.right.line::after {
  right: unset;
  left: 4%;
}
.line > h4 {
  font-size: 1.2rem;
  font-weight: 600;
}
.right.line > h4 {
  padding-left: 3rem;
}

.card-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.7rem;
  margin: 2rem auto; /* Add some margin for better presentation */
  padding-inline: var(--padding-inline);
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(230px, 0.5fr));
  gap: 1.2rem;
}

.card-grid:nth-child(2) {
  grid-template-columns: repeat(3, 0.4fr);
  gap: 1.2rem;
}

/* Media Queries for Responsive Design */

@media (max-width: 900px) {
  .card-grid,
  .card-grid:nth-child(2) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .card-grid,
  .card-grid:nth-child(2) {
    grid-template-columns: 1fr;
  }
  .line {
    width: 80%;
  }
}

.card {
  background-color: #ffffff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 27px;
  text-align: center;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.15);
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-img {
  max-width: calc(15vw + 3rem);
  height: auto;
  display: flex;
  max-height: 200px;
  margin-bottom: 2rem;
  margin-inline: auto;
  padding: 1rem;
}
@media (max-width: 800px) {
  .card-img {
    max-width: 100%;
  }
}
.card:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0px 6px 6px 0px #f9a826;
}

.card:hover {
  h3 {
    color: #f9a826;
  }
}

.card-details h3 {
  font-size: calc(1vw + 1.1rem);
  font-weight: bold;
  margin-bottom: 1rem;
}
.card-details p {
  font-size: 0.8rem;
  text-align: start;
  line-height: 1.3;
  max-width: calc(100% - 10ch);
  margin: auto;
}
/* <!-- ----------------------------------------------------------------------------------- --> */
.tech {
  padding-bottom: 0;
}
.tech-stack {
  place-content: center;
  max-width: clamp(650px, 900px, 100vw);
  margin: auto;
  rotate: 319deg;
  gap: 15px;
}
.tech-icon,
.icon-empty {
  width: calc(22% - 1rem);
  aspect-ratio: 1;
  border-radius: 20%;
  margin: 0 !important;
  padding: 5%;
}
.tech-icon {
  display: grid;
  place-content: center;
  background-color: #f29130;
}
.tech-icon img {
  rotate: 45deg;
}

/* Setting the radius */
.js,
.php,
.docker {
  border-bottom-left-radius: 40%;
}

.python,
.nodejs {
  border-top-right-radius: 40%;
}
.mailchimp {
  border-top-right-radius: 40%;
  border-bottom-right-radius: 40%;
}

@keyframes zIndexHack {
  0%,
  100% {
    z-index: 10;
  }
}

/* <!-- ----------------------------------------------------------------------------------- --> */

/* .contact-section {
  background-color: #e1e1e1;
  margin-inline: calc(-1 * var(--padding-inline));
} */
.container {
  display: flex;
  flex-wrap: wrap;
  row-gap: 3rem;
  align-items: center;
  justify-content: space-around;
  padding-block: 2rem;
  background-color: #f9a826;
  position: relative;
}
@media (max-width: 1100px) {
  .card-container {
    grid-template-rows: auto auto auto auto; /* 4 rows for top cards */
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 800px) {
  .container {
    flex-direction: column;
  }
  .contact-container {
    flex-direction: column-reverse;
  }
  .hero-image {
    max-width: 80%;
  }
  .card-container {
    grid-template-columns: unset;
  }
  .top-shape {
    display: none;
  }
  .metrics-container p {
    width: 45%;
  }
}
@media (min-width: 900px) {
  .work-container {
    padding: 0;
    max-height: 300px;
    border-radius: 1.7rem;
    align-content: center;
    justify-content: space-evenly;
    background: linear-gradient(200deg, #f9a826 57%, #f29130 56%);
  }

  .work-img {
    transform: translateY(-5%);
  }
}
.bottom-bg {
  background: linear-gradient(170deg, #f9a826 70%, #e09722 45%);
}

.walk-img {
  width: 40%;
}
.m--5 {
  margin-inline: max(-5vw, -5rem);
}
.walk {
  font-size: calc(2.5vw + 1.5rem);
  color: var(--white);
  font-weight: 300;
  text-align: center;
  line-height: 1.4;
}
.walk strong {
  font-weight: 900;
}

.work-container h3 {
  color: var(--white);
  font-size: calc(3vw + 1.5rem);
  max-width: 14ch;
  font-weight: 600;
}
.work-img {
  max-width: 800px;
}

/* ------------------------------------------------------------------------------------------------- */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 20px;
}
.contact-us {
  margin-top: 3.3rem;
  border-radius: 20px;
  padding: 2rem min(3rem, 3vw);
  background-color: var(--white);
}
.contact-us > h3 {
  font-size: calc(1.3vw + 1.4rem);
  font-weight: 900;
  padding-block: 1rem;
}
.contact-info > div {
  display: flex;
  margin-block: 0.8rem;
}

.contact-info,
.connect-form {
  width: 100%;
}

.contact-info h3 {
  font-weight: 800;
  margin-block: 10px;
}

.contact-info .icon {
  margin-right: 1rem;
}
.contact-info p {
  margin-bottom: 5px;
}
.connect-form h2 {
  margin-bottom: 10px;
}

.connect-form label {
  display: block;
  margin-bottom: 5px;
}
.contact-media {
  display: flex;
  flex-direction: column;
  margin-block: 1.5rem;
  /* margin-left: 1rem; */
}
.social-link {
  display: flex;
  gap: 1rem;
}
.social-link i {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  background: var(--c1);
  border-radius: 50%;
  transition: all ease-in-out 300ms;
}
.hero .social-link i {
  background: #3f3d56;
}
.social-link i:hover {
  cursor: pointer;
  transform: translateY(-5px);
}
.form-group {
  position: relative;
}
.form-icon {
  width: 2rem;
  position: absolute;
  left: 5%;
  top: 25%;
  z-index: 1000;
  padding-right: 8px;
  border-right: 2px solid var(--grey);
}
.connect-form input[type="text"],
.connect-form input[type="email"] {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 16px;
  margin-bottom: 1rem;
  position: relative;
  padding-left: max(13%, 5vw);
}
@media (max-width: 500px) {
  .connect-form input[type="text"],
  .connect-form input[type="email"] {
    padding-left: max(20%, 4vw);
  }
}

.connect-form button[type="submit"] {
  background: linear-gradient(303deg, #f9a826, #f29130);
  color: #fff;
  padding: 0.7rem 1.7rem;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

footer {
  width: 100%;
  min-height: 3rem;
  padding: 1rem;
  margin-top: 2rem;
  text-align: center;
  font-weight: 300;
  color: var(--white);
  background-color: #3f3d56;
}

/* -------------------------------------------------------------------------- */
.metrics-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 3rem;
  margin-top: 5rem;
  max-width: 80%;
  margin-inline: auto;
}

.metrics-container p {
  margin: 0 10px;
  border-left: 5px solid #f9a826;
  padding-left: 10px;
}

.metrics-container p strong {
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: 800;
}

/* ---------------------------------------------------------------------------------------------------------------------------- */
.shift-right {
  margin-left: 55%;
}

.shift-left {
  margin-right: 55%;
}

.bkimg {
  background-image: url("../images/who\ we\ are.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 70% 50%;
  padding-top: 0;
  padding-bottom: 25%;
}
@media only screen and (max-width: 768px) {
  .bkimg {
    background-image: none;
  }
}
